[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
aioresponses = "*"
flake8 = "*"
httpretty = "*"
ipython = "*"
pytest = "*"
pytest-asyncio = "*"
coveralls = "*"
pytest-cov = "*"

[packages]
beautifulsoup4 = "*"
lxml = "*"
aiohttp = {extras = ["speedups"],version = "*"}
requests = "*"

[requires]
python_version = "3.8"
