-i https://pypi.org/simple
aiodns==2.0.0
aiohttp[speedups]==3.6.2
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.8.2
brotlipy==0.7.0
cchardet==2.1.6
cffi==1.14.0
chardet==3.0.4
idna==2.9
lxml==4.5.0
multidict==4.7.5
pycares==3.1.1
pycparser==2.20
soupsieve==2.0
yarl==1.4.2
