name: publish-pydoctor-apidocs
on:
- push

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install package
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install .
        python -m pip install docutils git+https://github.com/twisted/pydoctor.git

        pydoctor --version

    - name: Generate pydoctor documentation
      run: |
        set +e
        # Run pydoctor build
        pydoctor \
          --add-package=Wappalyzer \
          --project-name=python-Wappalyzer \
            --project-url=https://github.com/$GITHUB_REPOSITORY \
            --html-viewsource-base=https://github.com/$GITHUB_REPOSITORY/tree/$GITHUB_SHA \
            --make-html \
            --html-output=./apidocs \
            --project-base-dir="$(pwd)" \
            --docformat=restructuredtext \
            --intersphinx=https://docs.python.org/3/objects.inv \
            --intersphinx=https://docs.aiohttp.org/en/stable/objects.inv \
            --intersphinx=https://requests.readthedocs.io/en/stable/objects.inv

    - name: Publish pydoctor documentation to the gh-pages branch
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./apidocs
        commit_message: "Generate pydoctor documentation"