name: Tests (and release on tags)

on:
  push:
    branches: [ master ]
    tags: 
      - '*'
  pull_request:
    branches: [ master ]

jobs:
  unit_tests:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9, '3.10', pypy-3.6]
        os: [ubuntu-20.04]
        include:
          - os: windows-latest
            python-version: 3.6
          - os: macos-latest
            python-version: 3.6

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install tox
      run: |
        python -m pip install --upgrade pip tox

    - name: Run unit tests (CPython)
      if: matrix.python-version != 'pypy-3.6'
      run: |
        tox -e test

        python3 -m pip install pytest pytest-asyncio httpretty aioresponses
        python3 -m pip install requests aiohttp cached_property dom_query 
        python3 -m pip install . --no-deps
        pytest -vv
    
    - name: Run unit tests (PyPy)
      if: matrix.python-version == 'pypy-3.6'
      run: |
        python3 -m pip install pytest pytest-asyncio httpretty aioresponses
        python3 -m pip install requests aiohttp cached_property dom_query
        python3 -m pip install . --no-deps
        pytest -vv

    - name: Run static code checks
      if: matrix.python-version != 'pypy-3.6' ||  matrix.python-version != '3.6'
      run: |
        tox -e mypy

  release:

    needs: [unit_tests]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install deps
        run: |
          python -m pip install --upgrade pip setuptools wheel

      - name: Build python-Wappalyzer
        run: |
          python setup.py --quiet build check sdist bdist_wheel
          ls -alh ./dist/

      - name: Publish python-Wappalyzer to PyPI on tags
        if: startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
